/* This is for the the index page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
}

nav {
    background-color:aqua;
}

.navbar {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    position: relative;
}

.navbar a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ae297e;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content li {
    text-align: left;
}

.dropdown-content a {
    padding: 10px;
}


.hero {
    position: relative;
    text-align: center;
    color: white;
}

.header-image {
    width: 100%;
    height: auto;
    opacity: 0.7; 
}

.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
}


main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

section h2 {
    color: #444;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover {
    background-color: #575757;
}


.icon-row {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    margin: 20px 0; 
    height: 100vh; 
}

.icon {
    width: 50px; 
    height: auto; 
    animation: bounce 1s infinite; 
}

.image-gallery {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
}

.image-gallery img {
    flex: 1 1 30%;
    margin: 5px; 
    height: auto; 
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

/* This if for the contact us page */
*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body {
    background-color:#F4F1E8;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    width: 90%;
    max-width: 600px;
}
.input-group{
    margin-bottom: 30px;
    position: relative;
}
input, textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #F2A663;
    color:#F2A663;
    background: transparent;
    font-size: 15px;
}
label{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #fff;
    cursor: text;
    translation: 0.2d;
}
button{
    padding: 10px 0;
    color: #fff;
    outline: none;
    background: transparent;
    border: 1px solid #fff;
    width: 100%;
    cursor: pointer;
}
input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
    top: -35px;
    font-size: 14px;
}
/* End of contact us page */

/*  This is for the about us page */
